* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: slategray;
    display: grid;
    place-items: center;
    height: 100vh;
  }
  input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: rgb(195, 202, 209);
    padding: 0.5em 0;
  }
  label {
    color: rgb(74, 76, 78);
    font-size: 1em;
    display: block;
    text-align: left;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  #temperature {
    background-color: rgb(195, 202, 209);
    width: 35%;
    height: fit-content;
    text-align: center;
    padding: 3em;
    border-radius: 4em;
    border: 5px solid black;
    outline: 15px solid white;
    transition: 0.6s;
  }
  #temperature:hover{
    box-shadow:20px 20px 20px 20px greenyellow;

  }
  select {
    background-color: rgb(195, 202, 209);
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin-top: 0.5em;
    font-size: 1.2em;
    color: rgb(74, 76, 78);
    font-size: 1em;
    font-weight: bolder;
  }

  #container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  h1 {
    margin-bottom: 2em;
  }
  button {
    width: 100%;
    padding: 0.8em;
    font-size: 1.2em;
    border: none;
    outline: none;
    border-radius: 2em;
    margin-top: 2em;
    background-color: rgb(0, 162, 255);
    color: rgb(23, 34, 44);
    transition: 0.5s;
  }
  button:hover {
    border: 2px solid rgb(0, 162, 255);
    background-color: white;
  }
  p {
    width: 90%;
    margin-left: 0.6em;
    border-bottom: 1px solid black;
  }

  @media screen and (max-width:600px) {
    #temperature{
        width: 100%;
    }
    #container{
        grid-template-columns:2fr;
    }
    h1{
        margin-bottom: 1em;
        line-height: 1.3em;
    }

  }
  @media screen and (max-width:700px) {
    #temperature{
        width: 60%;
    }
    #container{
        grid-template-columns:2fr;
    }
    h1{
        margin-bottom: 1em;
        line-height: 1.3em;
    }

  }

  @media screen and (max-width:1024px) {
    #temperature{
        width: 60%;
    }
    h1{
        margin-bottom: 1em;
        line-height: 1.3em;
    }

  }

  @media screen and (max-width:400px) {
    #temperature{
        width: 100%;
    }
    h1{
        margin-bottom: 1em;
        line-height: 1.3em;
    }

  }